
a, .link {
  color: $link-color;
  cursor: pointer;
  text-decoration: $link-text-decoration;

  &:active, &:hover {
    color: $link-color-hover;
  }

  .icon {
    display: inline-block;
    height: 0.85rem;
    width: 0.85rem;
  }
}

.button {
  border: 0;
  border-radius: $button-radius;
  cursor: pointer;
  font-size: $button-font-size;
  margin: $button-margin;
  padding: calc($button-padding * 0.35) $button-padding;

  @media only screen and (max-width: $sm) {
    padding: calc($button-padding * 0.25) calc($button-padding * 0.5);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
