
a, .link {
  color: $link-color;
  cursor: pointer;
  text-decoration: $link-text-decoration;

  &:active, &:hover {
    color: $link-color-hover;
  }

  .icon {
    display: inline-block;
    height: 0.85em;
    width: 0.85em;
  }
}

.button {
  border: 0;
  border-radius: $button-radius;
  cursor: pointer;
  font-size: $button-font-size;
  margin: $button-margin;
  padding: calc($button-padding * 0.5) $button-padding;

  @media only screen and (max-width: $sm) {
    padding: calc($button-padding * 0.25) calc($button-padding * 0.5);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &-default {
    background-color: $color-background;
    color: $color-foreground;

    &:hover {
      background-color: darken($color-background, $button-hover-darken);
    }
  }

  &-primary {
    background-color: $color-primary;
    color: $color-primary-fg;

    &:hover {
      background-color: darken($color-primary, $button-hover-darken);
    }
  }

  &-secondary {
    background-color: $color-secondary;
    color: $color-secondary-fg;

    &:hover {
      background-color: darken($color-secondary, $button-hover-darken);
    }
  }

  &-tertiary {
    background-color: $color-tertiary;
    color: $color-tertiary-fg;

    &:hover {
      background-color: darken($color-tertiary, $button-hover-darken);
    }
  }
}
