
.icon {
  &-sm {
    height: 1em;
    width: 1em;
  }

  &-md {
    height: 2em;
    width: 2em;
  }

  &-lg {
    height: 3em;
    width: 3em;
  }

  &-xl {
    height: 4em;
    width: 4em;
  }
}

.image {
  &-contain {
    object-fit: contain;
  }

  &-cover {
    object-fit: cover;
  }

  &-fill {
    object-fit: fill;
  }

  &-responsive {
    height: auto;
    width: auto;
  }
}
