
.icon {
  &.sm {
    min-height: $icon-sm;
    min-width: $icon-sm;
  }

  &.md {
    min-height: $icon-md;
    min-width: $icon-md;
  }

  &.lg {
    min-height: $icon-lg;
    min-width: $icon-lg;
  }

  &.xl {
    min-height: $icon-xl;
    min-width: $icon-xl;
  }
}

.image {
  &-caption {
    font-size: $image-caption-font-size;
    font-style: $image-caption-font-style;
    text-align: center;
  }

  &.contain {
    object-fit: contain;
  }

  &.cover {
    object-fit: cover;
  }

  &.fill {
    object-fit: fill;
  }

  &.responsive {
    height: auto;
    width: auto;
  }
}
