
input, option, select, textarea {
  accent-color: $input-accent;
  background-color: $input-bg;
  border: $input-border;
  border-radius: $input-border-radius;
  box-shadow: none;
  color: $input-fg;
  font-family: $input-font-family;
  font-size: $input-font-size;
  max-width: 20rem;
  outline: none;
  padding: $input-padding;

  &:hover {
    border-color: $color-primary;
  }

  .error {
    border-color: $color-danger;
  }
}

input {
  &[type='checkbox'], &[type='radio'] {
    cursor: pointer;
    height: 1.25rem;
    width: 1.25rem;

    .error {
      accent-color: $color-danger;
    }
  }
}

label {
  font-size: 1.25rem;

  .error {
    color: $color-danger;
  }
}

select {
  appearance: none;
  background: url('/assets/carrot.png') no-repeat right 0.75em center;
  min-width: 8rem;

  .error {
    border-color: $color-danger;
  }
}
