
input, option, select, textarea {
  accent-color: $input-accent;
  background-color: $input-bg;
  border: $input-border;
  border-radius: $input-border-radius;
  box-shadow: $input-shadow;
  color: $input-fg;
  font-family: $input-font-family;
  font-size: $input-font-size;
  max-width: $input-max-width;
  outline: $input-outline;
  padding: $input-padding;

  &:hover {
    border-color: $color-primary;
  }

  &.error {
    border-color: $color-danger;
  }
}

input {
  &[type='checkbox'], &[type='radio'] {
    accent-color: $color-primary;
    cursor: pointer;
    height: $input-size;
    width: $input-size;

    .error {
      accent-color: $color-danger;
    }
  }
}

label {
  font-size: $label-font-size;

  &.error {
    color: $color-danger;
  }

  .text {
    color: $label-highlight-color;
    font-size: $label-highlight-font-size;
  }
}

select {
  appearance: none;
  width: 100%;

  .error {
    border-color: $color-danger;
  }
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0;

  &-error {
    font-size: $input-error-font-size;
    margin: $input-error-padding;
  }

  &-label {
    margin-top: $input-label-padding;
  }
}

.select {
  min-width: $input-min-width;

  &::before, &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    right: 1rem;
  }

  &::before {
    border-bottom: $input-select-size solid $input-select-color;
    border-left: $input-select-size solid transparent;
    border-right: $input-select-size solid transparent;
    top: 35%;
  }

  &::after {
    border-top: $input-select-size solid $input-select-color;
    border-left: $input-select-size solid transparent;
    border-right: $input-select-size solid transparent;
    top: 45%;
  }
}
