
.navigation {
  background-color: $navigation-bg;
  color: $navigation-bg;
  filter: $navigation-shadow;
  padding: $navigation-padding;
  width: 100%;
  z-index: 3;

  @media only screen and (max-width: $sm) {
    height: fit-content;

    .flex-row {
      flex-direction: column;
    }
  }

  &-link, &-link:active, &-link:visited {
    color: $navigation-link-color;
    padding: $navigation-link-padding;
    text-decoration: none;

    &:hover {
      color: darken($navigation-link-color, 50%);
    }
  }

  img {
    height: $navigation-logo-size;
    width: auto;
  }

  button {
    padding: $navigation-button-padding;
  }
}

.pagination {
  .next, .prev {
    cursor: pointer;
  }

  select {
    min-width: 4rem;
    padding: 0.5rem;
  }
}
