
ol, ul {
  & ::marker {
    font-size: 1.25em;
    font-weight: bold;
  }

  li {
    font-size: 1.25em;
  }
}

table, .table {
  /* ABS - odd artifacts rendering on rounded table corners that go away when border-collapse is active; border spacing: 0 works as substitute  */
  /* border-collapse: collapse; */
  border-spacing: 0;

  td, th {
    border: $table-border;
  }

  td {
    padding: 0.25rem;
    text-align: center;
  }

  th {
    background-color: $table-background;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
  }

  /* ABS - modified selector to add tbody so no hover effect on footer or header */
  tbody tr:hover {
    background-color: darken($color-background, 5%);
  }
}
