
.badge {
  .count {
    border-radius: $badge-radius;
    padding: $badge-padding;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    z-index: 1;
  }

  &-danger {
    .count {
      background-color: $color-danger;
      color: $color-danger-fg;
    }
  }

  &-default {
    .count {
      background-color: $color-black;
      color: $color-white;
    }
  }

  &-info {
    .count {
      background-color: $color-info;
      color: $color-info-fg;
    }
  }

  &-success {
    .count {
      background-color: $color-success;
      color: $color-success-fg;
    }
  }

  &-warning {
    .count {
      background-color: $color-warning;
      color: $color-warning-fg;
    }
  }
}

.modal {
  background-color: $modal-overlay-color;
  bottom: 0;
  left: 0;
  opacity: $modal-overlay-opacity;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;

  &-actions {
    margin-top: 1rem;
  }

  &-close {
    visibility: hidden;
  }

  &-body {
    background-color: $modal-body-color;
    border-radius: $card-radius;
    filter: $modal-body-shadow;
    left: 50%;
    position: fixed;
    top: 50%;
    max-height: $modal-body-max-height;
    max-width: $modal-body-max-width;
    padding: $modal-body-padding;
    transform: translate(-50%, -50%);
    z-index: 5;

    @media only screen and (max-width: $sm) {
      max-height: 90vh;
      max-width: 90vw;
    }

    &-close {
      visibility: hidden;
    }

    &-open {
      visibility: visible;
    }
  }

  &-open {
    visibility: visible;
  }
}

.tooltip {
  border-bottom: 1px dotted $color-foreground;
  display: inline-block;
  cursor: pointer;
  position: relative;

  .message {
    background-color: $color-foreground;
    border-radius: $tooltip-radius;
    color: $color-background;
    filter: $tooltip-shadow;
    padding: $tooltip-padding;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: $tooltip-width;
    z-index: 1;

    @media only screen and (max-width: $sm) {
      max-width: 50vw;
      width: fit-content;
    }
  }

  /* Visible */

  &:hover .message {
    visibility: visible;
  }

  /* Location */

  &.bottom .message {
    left: 50%;
    top: 105%;
    transform: translateX(-50%);
  }

  &.cover .message {
    left: 50%;
    transform: translate(-50%, -25%);
  }

  &.left .message {
    right: 105%;
    transform: translateY(-25%);
  }

  &.right .message {
    left: 105%;
    transform: translateY(-25%);
  }

  &.top .message {
    bottom: 105%;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Color */

  &-danger .message {
    background-color: $color-danger;
    color: $color-danger-fg;
  }

  &-info .message {
    background-color: $color-info;
    color: $color-info-fg;
  }

  &-success .message {
    background-color: $color-success;
    color: $color-success-fg;
  }

  &-warning .message {
    background-color: $color-warning;
    color: $color-warning-fg;
  }
}
