
.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;

  .info {
    background-color: $color-background;
    border: $card-border;
    border-radius: $hero-info-radius;
    color: $color-foreground;
    font-size: $hero-font-size;
    opacity: $hero-info-opacity;
    overflow: hidden;
    padding: $hero-info-padding;
    position: absolute;

    @media only screen and (max-width: $sm) {
      font-size: $hero-font-size * 0.75;
      padding: calc($hero-info-padding * 0.5);
    }

    button, .button {
      width: fit-content;

      @media only screen and (max-width: $sm) {
        font-size: $hero-font-size * 0.75;
        padding: calc($button-padding * 0.25);
      }
    }
  }

  &-bottom {
    .info {
      border-radius: 0;
      bottom: 0;
      top: unset;
      transform: none;
      width: 100%;
    }
  }

  &-cover {
    .info {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-left {
    .info {
      border-radius: 0 $hero-info-radius $hero-info-radius 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
    }
  }

  &-right {
    .info {
      border-radius: $hero-info-radius 0 0 $hero-info-radius;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
    }
  }

  &-top {
    .info {
      border-radius: 0;
      top: 0;
      transform: none;
      width: 100%;
    }
  }
}

.notification {
  filter: $notification-shadow;
  font-size: $notification-font-size;
  padding: $notification-padding;
  position: relative;

  @media only screen and (max-width: $sm) {
    width: 90vw;
  }

  &-danger {
    background-color: $color-danger;
    color: $color-danger-fg;
  }

  &-closable {
    padding-right: calc($notification-padding * 2);
  }

  &-close {
    cursor: pointer;
    position: absolute;
    right:  calc($notification-padding * 0.5);
    top: calc($notification-padding * 0.5);
  }

  &-info {
    background-color: $color-info;
    color: $color-info-fg;
  }

  &-success {
    background-color: $color-success;
    color: $color-success-fg;
  }

  &-warning {
    background-color: $color-warning;
    color: $color-warning-fg;
  }
}

.schumer {
  font-family: $schumer-font-family;

  ul li {
    font-size: 1rem;
    font-style: italic;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    @media only screen and (max-width: $sm) {
      width: 90vw;
    }

    td, th {
      border: 1px solid gray;
      font-weight: normal;
      padding: 0.25rem;
      text-align: left;
      vertical-align: top;
    }

    tr td:first-child {
      width: 20%;

      &.header {
        background-color: $schumer-header-background;
        font-weight: bold;
        width: $schumer-header-width;
      }
    }
  }

  .line {
    margin-bottom: 1rem;
  }

  .rate {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
