
.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;

  &-info {
    background-color: $color-background;
    border: $card-border;
    border-radius: $hero-info-radius;
    color: $color-foreground;
    font-size: $hero-font-size;
    opacity: $hero-info-opacity;
    overflow: hidden;
    padding: $hero-info-padding;
    position: absolute;

    @media only screen and (max-width: $sm) {
      font-size: $hero-font-size * 0.75;
      padding: calc($hero-info-padding * 0.5);
    }

    button, .button {
      width: fit-content;

      @media only screen and (max-width: $sm) {
        font-size: $hero-font-size * 0.75;
        padding: calc($button-padding * 0.25);
      }
    }
  }

  $parent: &;

  &-bottom {
    #{$parent}-info {
      border-radius: 0;
      bottom: 0;
      top: unset;
      transform: none;
      width: 100%;
    }
  }

  &-cover {
    #{$parent}-info {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-left {
    #{$parent}-info {
      border-radius: 0 $hero-info-radius $hero-info-radius 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
    }
  }

  &-right {
    #{$parent}-info {
      border-radius: $hero-info-radius 0 0 $hero-info-radius;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
    }
  }

  &-top {
    #{$parent}-info {
      border-radius: 0;
      top: 0;
      transform: none;
      width: 100%;
    }
  }
}

.notification {
  filter: $notification-shadow;
  font-size: $notification-font-size;
  padding: $notification-padding;
  position: relative;

  @media only screen and (max-width: $sm) {
    width: 90vw;
  }

  &-danger {
    background-color: $color-danger;
    color: $color-danger-fg;
  }

  &-closable {
    padding-right: calc($notification-padding * 2);
  }

  &-close {
    cursor: pointer;
    position: absolute;
    right:  calc($notification-padding * 0.5);
    top: calc($notification-padding * 0.5);
  }

  &-info {
    background-color: $color-info;
    color: $color-info-fg;
  }

  &-success {
    background-color: $color-success;
    color: $color-success-fg;
  }

  &-warning {
    background-color: $color-warning;
    color: $color-warning-fg;
  }
}

.schumer {
  font-family: $schumer-font-family;
  font-size: $schumer-font-size;

  @media only screen and (max-width: $xs) {
    font-size: calc($schumer-font-size * 0.4);
    width: 90vw;
  }

  @media only screen and (min-width: $sm) {
    font-size: calc($schumer-font-size * 0.5);
    width: 80vw;
  }

  @media only screen and (min-width: $md) {
    font-size: calc($schumer-font-size * 0.8);
    width: 80vw;
  }

  @media only screen and (min-width: $lg) {
    font-size: calc($schumer-font-size * 0.9);
    width: 65vw;
  }

  @media only screen and (min-width: $xl) {
    width: 50vw;
  }

  ul {
    & ::marker {
      font-size: $list-font-size;
      font-weight: bold;

      @media only screen and (max-width: $sm) {
        font-size: calc($schumer-font-size * 0.4);
      }

      @media only screen and (min-width: $md) {
        font-size: calc($schumer-font-size * 0.5);
      }

      @media only screen and (min-width: $lg) {
        font-size: calc($schumer-font-size * 0.8);
      }

      @media only screen and (min-width: $xl) {
        font-size: calc($schumer-font-size * 0.9);
      }
    }

    li {
      font-size: $schumer-font-size;
      font-style: italic;

      @media only screen and (max-width: $sm) {
        font-size: calc($schumer-font-size * 0.4);
      }

      @media only screen and (min-width: $md) {
        font-size: calc($schumer-font-size * 0.5);
      }

      @media only screen and (min-width: $lg) {
        font-size: calc($schumer-font-size * 0.8);
      }

      @media only screen and (min-width: $xl) {
        font-size: calc($schumer-font-size * 0.9);
      }
    }
  }

  table {
    border: 1px solid transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    td, th {
      border: $schumer-border;
      font-weight: normal;
      padding: 0.25rem;
      text-align: left;
      vertical-align: top;
    }

    tr th:first-child {
      &.header {
        // background-color: $schumer-header-background;
        font-weight: bold;
      }
    }
  }

  .half {
    width: $schumer-header-width;

    @media only screen and (max-width: $md) {
      width: fit-content;
    }
  }

  .line {
    margin-bottom: 1rem;
  }

  .no-border {
    border: none;
  }

  .no-padding {
    padding: 0;
  }

  .quarter {
    width: 25%;

    @media only screen and (max-width: $md) {
      width: fit-content;
    }
  }

  .rate {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
