
@media print {
  * {
    overflow: visible !important;
  }

  div,
  table {
    max-width: 8in !important;

    td, th, tr {
      background: none;
      border: 3px solid $color-foreground;
      color: $color-foreground;
    }
  }

  // Hide
  .button,
  .footer,
  .navigation {
    display: none;
  }

  .body {
    overflow: auto;
  }

  .card {
    border: none !important;
    box-shadow: none !important;
    filter: none !important;
    height: max-content !important;
  }

  div,
  .card,
  .padding {
    margin: 0 !important;
    padding: 0 !important;
  }

  .text {
    font-size: 12pt;
  }
}
