
html, body {
  font-family: $font-family-body;
  font-optical-sizing: auto;
  font-size: $font-size;
}

h {
  &1, &2, &3, &4, &5, &6 {
    font-family: $font-family-title;
  }

  &1 {
    font-size: $h1-font-size;
    margin: $h6-font-size 0;

    @media only screen and (max-width: $sm) {
      font-size: calc($h1-font-size * 0.65);
      margin: calc($h6-font-size * 0.25) 0;
    }
  }

  &2 {
    font-size: $h2-font-size;
    margin: $h5-font-size 0;

    @media only screen and (max-width: $sm) {
      font-size: calc($h2-font-size * 0.65);
      margin: calc($h5-font-size * 0.25) 0;
    }
  }

  &3 {
    font-size: $h3-font-size;
    margin: $h4-font-size 0;

    @media only screen and (max-width: $sm) {
      font-size: calc($h3-font-size * 0.65);
      margin: calc($h4-font-size * 0.25) 0;
    }
  }

  &4 {
    font-size: $h4-font-size;
    margin: $h3-font-size 0;

    @media only screen and (max-width: $sm) {
      font-size: calc($h4-font-size * 0.65);
      margin: calc($h3-font-size * 0.25) 0;
    }
  }

  &5 {
    font-size: $h5-font-size;
    margin: $h2-font-size 0;

    @media only screen and (max-width: $sm) {
      font-size: calc($h5-font-size * 0.65);
      margin: calc($h2-font-size * 0.25) 0;
    }
  }

  &6 {
    font-size: $h6-font-size;
    margin: $h1-font-size 0;

    @media only screen and (max-width: $sm) {
      font-size: calc($h6-font-size * 0.65);
      margin: calc($h1-font-size * 0.25) 0;
    }
  }
}

.bold {
  font-weight: bold;
}

.capitalize {
  text-transform: capitalize;
}

.font {
  &-body {
    font-family: $font-family-body;
  }

  &-legal {
    font-family: $font-family-legal;
  }

  &-number {
    font-family: $font-family-number;
  }

  &-title {
    font-family: $font-family-title;
  }
}

.italic {
  font-style: italic;
}

.legal {
  font-family: $font-family-legal;
}

.lower {
  text-transform: lowercase;
}

.strike {
  text-decoration: line-through;
}

.sub {
  font-size: $font-subscript-size;
  vertical-align: sub;
}

.super {
  font-size: $font-superscript-size;
  vertical-align: super;
}

.text {
  padding: $text-padding;

  &.default {
    background-color: transparent;
  }

  &.primary {
    background-color: $color-primary-fg;
    color: $color-primary;
  }

  &.secondary {
    background-color: $color-secondary-fg;
    color: $color-secondary;
  }

  &.tertiary {
    background-color: $color-tertiary-fg;
    color: $color-tertiary;
  }
}

.underline {
  text-decoration: underline;
}

.upper {
  text-transform: uppercase;
}
