
.background {
  flex: 1;
  height: 100%;
  padding: $background-padding;
}

.card {
  background-color: $color-background;
  border: $card-border;
  border-radius: $card-radius;
  box-shadow: $card-shadow;
  color: $color-foreground;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  z-index: 2;

  &.dark-shadow {
    box-shadow: $card-shadow-dark;
    filter: $card-filter-dark;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
