
/** Constants */

/* Colors */
$color-black: black;
$color-white: white;

$color-background: $color-white !default;
$color-foreground: $color-black !default;
$color-shadow: rgba(0, 0, 0, 0.25) !default;

$color-danger: #dc3545 !default;
$color-danger-fg: $color-white !default;
$color-info: #0dcaf0 !default;
$color-info-fg: $color-black !default;
$color-success: #198754 !default;
$color-success-fg: $color-white !default;
$color-warning: #ffc107 !default;
$color-warning-fg: $color-black !default;

$color-primary: rgb(64, 0, 104) !default;
$color-primary-fg: $color-white !default;
$color-secondary: rgb(21, 105, 64) !default;
$color-secondary-fg: $color-white !default;
$color-tertiary: rgb(246, 232, 255) !default;
$color-tertiary-fg: $color-black !default;

/* Size */
$xs: 396px !default;
$sm: 576px !default;
$md: 768px !default;
$lg: 992px !default;
$xl: 1200px !default;
$xxl: 1400px !default;

/** Components */

/* Accordion */
$accordion-body-padding: 1rem !default;
$accordion-title-color-close: $color-foreground !default;
$accordion-title-color-open: $color-primary !default;
$accordion-title-padding: 0.5rem !default;
$accordion-title-weight: 600 !default;

/* Badge */
$badge-padding: 0.25rem 0.5rem !default;
$badge-radius: 0.375rem !default;

/* Button */
$button-font-size: 1rem !default;
$button-hover-darken: 10% !default;
$button-margin: 0 !default;
$button-padding: 2rem !default;
$button-radius: 0.375rem !default;

/* Card */
$card-border: transparent !default;
$card-radius: 25px !default;
$card-shadow: 0 0.25rem 0.75rem 0.5rem darken($color-background, 10%) !default;

/* Carousel */
$carousel-disc-border: 2px solid darken($color-background, 20%) !default;
$carousel-disc-color: $color-primary !default;
$carousel-disc-size: 0.75rem !default;
$carousel-nav-color: $color-primary !default;

/* Divider */
$divider-color: $color-primary !default;
$divider-width: 2px !default;

/* Flex */
$flex-gap: 1rem !default;

/* Font */
$font-family-body: "Nunito", sans-serif !default;
$font-family-legal: "Trebuchet MS", "Roboto", sans-serif !default;
$font-family-number: "Chivo Mono", monospace !default;
$font-family-title: "Mukta", sans-serif !default;

$font-size: 1rem !default;

/* Grid */
$grid-gap: 1rem !default;

/* Hero */
$hero-font-size: $font-size;

/* Input */
$input-accent: $color-background !default;
$input-bg: $color-background !default;
$input-border: 1px solid darken($color-background, 60%) !default;
$input-border-radius: 0.25rem !default;
$input-fg: lighten($color-foreground, 20%) !default;
$input-font-family: $font-family-body !default;
$input-font-size: 1rem !default;
$input-padding: 0.75rem !default;

/* Link */
$link-color: $color-primary !default;
$link-color-hover: $color-secondary !default;
$link-text-decoration: underline !default;

/* Modal */
$modal-body-color: $color-background !default;
$modal-overlay-color: darken($color-background, 50%) !default;

/* Navigation */
$navigation-bg: $color-background !default;
$navigation-fg: $color-foreground !default;
$navigation-height: 4rem;
$navigation-link-color: lighten($color-foreground, 30%) !default;
$navigation-link-padding: 0 2rem !default;
$navigation-padding: 1rem !default;
$navigation-shadow: drop-shadow($color-shadow 0 7px 4px) !default;

/* Stepper */
$stepper-count-active-bg: $color-secondary !default;
$stepper-count-active-fg: $color-secondary-fg !default;
$stepper-count-bg: darken($color-background, 60%) !default;
$stepper-count-fg: $color-background !default;
$stepper-count-size: 1.25rem !default;
$stepper-header-border: 1px solid darken($color-background, 10%) !default;
$stepper-separator: 1px dashed darken($color-background, 20%) !default;
$stepper-title-color: $color-foreground !default;
$stepper-title-size: 1rem !default;
$stepper-title-weight: 600 !default;

/* Table */
$table-header-background: $color-primary !default;
$table-header-color: $color-white !default;
$table-background: darken($color-background, 10%) !default;
$table-border: 1px solid darken($table-background, 10%) !default;
$table-border-radius: 1rem !default;

/* Tooltip */
$tooltip-padding: 0.25em 0.5em !default;
$tooltip-radius: 0.5em !default;
$tooltip-shadow: drop-shadow($color-shadow 0 7px 4px) !default;
