
/** Constants */

/* Colors */
$color-black: black;
$color-white: white;

$color-background: $color-white !default;
$color-foreground: $color-black !default;
$color-shadow: rgba(0, 0, 0, 0.25) !default;

$color-danger: #dc3545 !default;
$color-danger-fg: $color-white !default;
$color-info: #0dcaf0 !default;
$color-info-fg: $color-black !default;
$color-success: #198754 !default;
$color-success-fg: $color-white !default;
$color-warning: #ffc107 !default;
$color-warning-fg: $color-black !default;

$color-primary: rgb(64, 0, 104) !default;
$color-primary-fg: $color-white !default;
$color-secondary: rgb(21, 105, 64) !default;
$color-secondary-fg: $color-white !default;
$color-tertiary: rgb(246, 232, 255) !default;
$color-tertiary-fg: $color-black !default;

/* Border */
$border-color: darken($color-background, 60%) !default;
$border-size: 1px !default;
$border-style: solid !default;

/* Size */
$xs: 396px !default;
$sm: 576px !default;
$md: 768px !default;
$lg: 992px !default;
$xl: 1200px !default;
$xxl: 1400px !default;

/** Components */

/* Accordion */
$accordion-body-padding: 1rem !default;
$accordion-title-color-close: $color-foreground !default;
$accordion-title-color-open: $color-primary !default;
$accordion-title-font-size: 1.25rem !default;
$accordion-title-padding: 0.5rem !default;
$accordion-title-weight: 600 !default;
$accordion-transition: all 0.5s ease-in-out;

/* Background */
$background-padding: 1rem !default;

/* Badge */
$badge-padding: 0.25rem 0.5rem !default;
$badge-radius: 0.375rem !default;

/* Button */
$button-font-size: 1.25rem !default;
$button-hover-darken: 10% !default;
$button-margin: 0 !default;
$button-padding: 2rem !default;
$button-radius: 0.375rem !default;

/* Card */
$card-border: transparent !default;
$card-radius: 25px !default;
$card-filter-dark: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.25)) !default;
$card-shadow: 0 0.25rem 0.75rem 0.5rem darken($color-background, 10%) !default;
$card-shadow-dark: rgba(0, 0, 0, 0.25) 0px -9px 4px !default;

/* Carousel */
$carousel-disc-border: $border-size $border-style $border-color !default;
$carousel-disc-color: $color-primary !default;
$carousel-disc-radius: 50% !default;
$carousel-disc-size: 0.75rem !default;
$carousel-discs-gap: 0.5rem !default;
$carousel-nav-color: $color-primary !default;
$carousel-transition: all 0.5s ease-in-out;

/* Divider */
$divider-color: $color-primary !default;
$divider-dot-size: 0.75rem !default;
$divider-width: 2px !default;

/* Flex */
$flex-gap: 1rem !default;

/* Font */
$font-family-body: "Nunito", sans-serif !default;
$font-family-legal: "Trebuchet MS", "Roboto", sans-serif !default;
$font-family-number: "Chivo Mono", monospace !default;
$font-family-title: "Mukta", sans-serif !default;
$font-subscript-size: 0.85em !default;
$font-superscript-size: 0.85em !default;

$font-size: 1rem !default;

/* Grid */
$grid-gap: 1rem !default;

/* Heading */
$h1-font-size: 2rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.15rem !default;
$h4-font-size: 1rem !default;
$h5-font-size: 0.85rem !default;
$h6-font-size: 0.75rem !default;

/* Hero */
$hero-font-size: $font-size !default;
$hero-info-opacity: 0.75 !default;
$hero-info-padding: 1rem !default;
$hero-info-radius: $card-radius !default;

/* Icon */
$icon-sm: 1rem !default;
$icon-md: 2rem !default;
$icon-lg: 3rem !default;
$icon-xl: 4rem !default;

/* Image */
$image-caption-font-size: 0.85rem !default;
$image-caption-font-style: italic !default;

/* Input */
$input-accent: $color-background !default;
$input-bg: $color-background !default;
$input-border: $border-size $border-style $border-color !default;
$input-border-radius: 0.25rem !default;
$input-error-font-size: 1rem !default;
$input-error-padding: 0.25rem 0 0 0 !default;
$input-fg: lighten($color-foreground, 20%) !default;
$input-font-family: $font-family-body !default;
$input-font-size: 1rem !default;
$input-label-padding: 1rem 0 0 0 !default;
$input-max-width: 20rem !default;
$input-min-width: 8rem !default;
$input-outline: 0 !default;
$input-padding: 0.75rem !default;
$input-select-color: $border-color !default;
$input-select-size: 0.5rem !default;
$input-shadow: none !default;
$input-size: 1.25rem !default;

/* Label */
$label-font-size: 1.25rem !default;
$label-highlight-color: lighten($color-foreground, 50%) !default;
$label-highlight-font-size: 1rem !default;

/* Link */
$link-color: $color-primary !default;
$link-color-hover: $color-secondary !default;
$link-text-decoration: underline !default;

/* List */
$list-font-size: 1.25rem !default;

/* Modal */
$modal-body-color: $color-background !default;
$modal-body-max-height: 50vh !default;
$modal-body-max-width: 50vh !default;
$modal-body-padding: 1rem !default;
$modal-body-shadow: drop-shadow($color-shadow 0 7px 4px) !default;
$modal-overlay-color: darken($color-background, 50%) !default;
$modal-overlay-opacity: 0.75 !default;
$modal-transition: all 0.5s ease-in-out;

/* Navigation */
$navigation-bg: $color-background !default;
$navigation-button-padding: 0.25rem 1rem !default;
$navigation-fg: $color-foreground !default;
$navigation-height: 4rem;
$navigation-link-color: lighten($color-foreground, 30%) !default;
$navigation-link-padding: 0 2rem !default;
$navigation-logo-size: 2rem !default;
$navigation-padding: 1rem !default;
$navigation-shadow: drop-shadow($color-shadow 0 7px 4px) !default;

/* Notification */
$notification-font-size: 1rem !default;
$notification-padding: 1rem !default;
$notification-shadow: drop-shadow($color-shadow 0 7px 4px) !default;

/* Schumer */
$schumer-border: $border-size $border-style $border-color !default;
$schumer-font-family: $font-family-legal !default;
$schumer-font-size: 1rem !default;
$schumer-header-background: darken($color-background, 10%) !default;
$schumer-header-width: 50% !default;

/* Stepper */
$stepper-body-padding: 1rem !default;
$stepper-count-active-bg: $color-secondary !default;
$stepper-count-active-fg: $color-secondary-fg !default;
$stepper-count-bg: darken($color-background, 60%) !default;
$stepper-count-fg: $color-background !default;
$stepper-count-radius: 50% !default;
$stepper-count-size: 1.25rem !default;
$stepper-header-border: $border-size $border-style $border-color !default;
$stepper-title-color: $color-foreground !default;
$stepper-title-size: 1rem !default;
$stepper-title-weight: 600 !default;

/* Table */
$table-header-background: $color-primary !default;
$table-header-color: $color-white !default;
$table-background: darken($color-background, 10%) !default;
$table-border: $border-size $border-style lighten($border-color, 45%) !default;
$table-border-radius: 1rem !default;
$table-padding: 0.25rem !default;

/* Text */
$text-padding: 0.25rem !default;

/* Tooltip */
$tooltip-padding: 0.25em 0.5em !default;
$tooltip-radius: 0.5em !default;
$tooltip-shadow: drop-shadow($color-shadow 0 7px 4px) !default;
$tooltip-transition: all 0.3s ease-in-out;
$tooltip-width: 10vw !default;
